<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
    <div class="content_post">
      <span class="name"><%= post.title %></span>
      <%= post.content %>
      <hr>
    </div>
  <% end %>
</div>