<div class="top-box">
  <div class="top-box__top-title">
    <h1>介護お悩み掲示板</h1>
  </div>
  <div class="top-box__top-explain">
    <p>この掲示板は、介護に悩みがある人の悩みや愚痴を言い合う掲示板です。３つのジャンル「介護お悩み掲示板」、「スキルアップ・転職」、「技能実習生関連」に分かれています。画面左上のメニューから各ページを見れるようになってます。ご利用にあたっては、閲覧だけならは会員登録せずみれます。会員登録すると、記事の投稿・コメント投稿ができるようになります。会員登録した情報は、ログインユーザーの識別のためだけの利用で、第３者に個人情報を渡すようなことはありません。投稿する際は、他人が不快に思う記事や介護・福祉に関係ない記事はご遠慮ください。管理人が不適切とみなした場合は、削除させていただきます。</p>
  </div>
</div>

<hr>


<div class="post-contents">
  <%= render partial: 'shared/index', locals: { posts: @posts}%>
  <div class="post-contents__post-paginate">
    <%= paginate(@posts) %>
  </div>
</div>
